<h1>Innocentia Handani <br>
0806022410010</h1>

#Latihan 1

In [ ]:
i = int(input('Jumlah teman : '))
nama_teman = []
j = 0

for teman in range(i):
  nama = input(f"Nama teman-{teman+1} : ")
  nama_teman.append(nama)

print(f"Jumlah teman anda {i} :")

for nama in nama_teman:
  print(f"{j+1}. {nama}")
  j += 1

Jumlah teman : 2
Nama teman-1 : Budi
Nama teman-2 : Bambang
Jumlah teman anda 2 :
1. Budi
2. Bambang

#Latihan 2

In [ ]:
import pandas as pd

In [ ]:
i = int(input('Jumlah Mahasiswa :'))
data = []

for x in range(i):
  print(f"Data Mahasiswa {x+1}")
  nim = (input(f"NIM : "))
  nama = (input(f"Nama : "))
  jurusan = (input(f"Jurusan : "))

  #dictionary
  mahasiswa = {
      ' NIM ' : nim,
      ' Nama ' : nama,
      ' Jurusan ' : jurusan
  }
  data.append(mahasiswa)

Jumlah Mahasiswa :2
Data Mahasiswa 1
NIM : 0201238210
Nama : Budi
Jurusan : Informatika
Data Mahasiswa 2
NIM : 0801238210
Nama : Bambang
Jurusan : IBM

In [ ]:
df = pd.DataFrame(data)
print("DATA MAHASISWA YANG DIMASUKKAN")
print('---------------------------------')
print(df.to_string(index=False))

DATA MAHASISWA YANG DIMASUKKAN
---------------------------------
      NIM    Nama     Jurusan
0201238210    Budi Informatika
0801238210 Bambang         IBM